name: hemant job
# trigger poin
on: 
  push: 
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs

jobs: 
  test-job:
    runs-on: ubuntu-latest
    steps: # what exactly you want to run in ubuntu machine
    - name: hello world printing
      run: 
        echo "Hello world"
        git version
        whoami
        ls -a

