name: hemant job
# trigger poin
on: 
  push: 
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs

jobs: 
  test-job:
    runs-on: ubuntu-latest
    steps: # what exactly you want to run in ubuntu machine
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: dryrun-aws 
    # terrafor installing 
    - name: installing terraform 
      uses: hashicorp/setup-terraform@v3
    # running some commands 
     - name: my first step to test github action 
      run: |
        echo "Hello world"
        git version
        whoami
        ls -a
        terraform version
  build-job:
  infra-job:

